---
import ControlPanelLayout from '@/layouts/ControlPanelLayout.astro';
import { ControlPanelClients } from '@/modules/controlPanel/components/clients/ControlPanelClients';
import { appName } from '@chore/config/constants';
---

<ControlPanelLayout
  title=`Panel de gestión de Clientes | ${appName}`
  description=`panel de gestión de Clientes de ${appName}.`
>
  <div class="flex flex-col w-full h-full px-4">
    <ControlPanelClients client:only="react" />
  </div>
</ControlPanelLayout>
