---
import ControlPanelLayout from '@/layouts/ControlPanelLayout.astro';
import { appName } from '@chore/config/constants';
---

<ControlPanelLayout
  title=`Panel de gestión de Clientes | ${appName}`
  description=`panel de gestión de Clientes de ${appName}.`
>
  <section class="flex flex-col items-center justify-center w-full h-full">
    Panel de Gestión de Clientes
  </section>
</ControlPanelLayout>
