---
import ControlPanelLayout from '@/layouts/ControlPanelLayout.astro';
import { appName } from '@chore/config/constants';
---

<ControlPanelLayout
  title=`Panel de Control | ${appName}`
  description=`Panel de Control de ${appName}.`
>
  <section class="flex flex-col w-full h-full px-4">
    Area de Administración de Ghost Cloud
  </section>
</ControlPanelLayout>
