---
import { ResponsiveNavBar } from './ResponsiveNavBar';

const pathName = Astro.url.pathname;
---

<div
  class="z-50 h-[4rem] flex justify-center items-center w-full fixed top-0 dark:bg-primario bg-secundario text-primario dark:text-secundario"
>
  <div class="flex justify-center md:justify-between items-center w-2/3 h-full">
    <ResponsiveNavBar pathName={pathName} client:only="react" />
  </div>
</div>

<style is:global>
  .linkNav:hover .absolute {
    width: 100%;
    height: 2px;
  }
</style>
