---
import { ResponsiveNavBar } from './ResponsiveNavBar';

const pathName = Astro.url.pathname;
---

<div
  class="z-50 flex justify-center md:justify-between items-center w-3/4 h-[5rem] p-4 fixed top-0 dark:bg-primario bg-secundario text-primario dark:text-secundario"
>
  <ResponsiveNavBar pathName={pathName} client:only="react" />
</div>

<style is:global>
  .linkNav:hover .absolute {
    width: 100%;
    height: 2px;
  }
</style>
