@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
  h5 {
    @apply text-xl;
  }
  code {
    @apply py-1 px-2 rounded text-indigo-400;
  }
  pre {
    @apply p-4 text-indigo-500 rounded;
  }
  blockquote {
    border-left: 4px solid red;
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
    @apply border-l-indigo-800;
  }
  table {
    width: 100%;
    @apply border-collapse w-full text-center border-stone-800 text-slate-200;
  }
  th {
    @apply px-4 py-2 text-xl border border-stone-400;
  }
  tr {
    @apply bg-gray-900 hover:bg-gray-600 border border-stone-800;
  }

  pre > code {
    all: unset;
  }
  li {
    @apply list-item;
  }
  mark {
    @apply bg-indigo-500 p-1 rounded;
  }
  a {
    @apply font-semibold;
  }

  @font-face {
    font-family: 'JetBrainsMonoNL';
    src: url(/JetBrainsMonoNL-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Geist-Regular';
    src: url(/Geist-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

/* Animation for Toast */

.animate-enter {
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(0, -200px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.animate-leave {
  animation: fadeOut 0.5s ease forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0, 0);
  }
  to {
    opacity: 0;
    transform: translate(0, -200px);
  }
}

/* Animation for Loading */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #0ab7fb;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
