---
import MainLayout from "@/layouts/MainLayout.astro";
import { appName } from "@chore/config/constants";


---

<MainLayout
  title=`Inicio | ${appName}`
  description=`En ${appName} ofrecemos el servicio de Cloud Computing que necesitas para tu empresa.`
>
<div class="text-2xl">
	Hola Mundo
</div>

</MainLayout>
