---
import MainLayout from '@/layouts/MainLayout.astro';
import { appName } from '@chore/config/constants';
import { LoginForm } from '@/modules/auth/components/login/LoginForm';
---

<MainLayout
  title=`Login | ${appName}`
  description=`Accede a ${appName} para gestionar tus servicios`
>
  <section class="flex flex-col items-center justify-center w-full h-full">
    <LoginForm client:only="react" />
  </section>
</MainLayout>
