---
import MainLayout from '@/layouts/MainLayout.astro';
import { appName } from '@chore/config/constants';
---

<MainLayout
  title=`Login | ${appName}`
  description=`Accede a ${appName} para gestionar tus servicios`
>
  <section class="flex gap-2 w-full h-[35rem] bg-black">
    <div class="hero-home w-full flex justify-center">
      <div class="w-full max-w-md p-4 bg-white rounded-lg shadow-lg">
        <h1 class="text-2xl font-bold text-center">Iniciar sesi칩n</h1>
        <form class="mt-4">
          <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-700"
              >Correo electr칩nico</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            />
          </div>
          <div class="mb-4">
            <label
              for="password"
              class="block text-sm font-medium text-gray-700">Contrase침a</label
            >
            <input
              type="password"
              id="password"
              name="password"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
            />
          </div>
          <div class="mb-4">
            <button
              type="submit"
              class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              >Iniciar sesi칩n</button
            >
          </div>
        </form>
      </div>
    </div>
  </section>
</MainLayout>
