---
import BaseHead from '@chore/utils/BaseHead.astro';

interface Props {
  title?: string;
  description: string;
  image?: string;
}
const {
  title = 'Leo Serrano - Portfolio',
  description = 'Website of Leo Serrano, a full-stack developer from Costa Rica.',
  image = '/leoserranodev.jpg',
} = Astro.props as Props;
const { currentLocale } = Astro;
---

<!doctype html>
<html class="" lang={currentLocale}>
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>

  <body
    class="font-code dark:bg-primario bg-secundario text-primario dark:text-secundario flex flex-col h-full w-full justify-center items-center"
  >
    <header
      class=""
    >
      Header va aqui
    </header>
    <main class="flex flex-col h-full w-full m-auto items-center relative">
      <slot />
    </main>
  </body>
</html>
